/* Calendar Contents */
#calendar {
    font-size: 14px;
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
}

#calendar .fc-head .fc-widget-header th {
    font-family: 'Roboto', sans-serif;
    background:#9675ce;
	color:#FFF;
	font-size:14px;
    font-weight:500;
    border: none;
}

#calendar .fc-widget-content .fc-axis.fc-widget-content {
   font-family: 'Roboto', sans-serif;
   background:#9675ce;
   color:#FFF;
   font-size:14px;
   font-weight:500;
}

#calendar button.fc-button {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
	color: #9675ce;
    -webkit-appearance: none;
    border: 1px solid #9675ce;
    background-image: none;
}

#calendar button.fc-button.fc-state-hover {
    color: #333333;
    background-color: #FFE3E3;
}

#calendar button.fc-button.fc-state-down,
#calendar button.fc-button.fc-state-active {
	background-color: #9675ce;
	color: #FFFFFF;
}

.fc h2 {
   font-size: 25px;
   font-weight: 100;
}

/* COLOR CLASSES */
.fc-event.bgc0{ background-color: #7da838	}
.fc-event.bgc1{ background-color: #0082c8	}
.fc-event.bgc2{ background-color: #f58231	}
.fc-event.bgc3{ background-color: #911eb4	}
.fc-event.bgc4{ background-color: #46f0f0	}
.fc-event.bgc5{ background-color: #f032e6	}
.fc-event.bgc6{ background-color: #3cb44b	}
.fc-event.bgc7{ background-color: #ffe119	}
.fc-event.bgc8{ background-color: #800000	}
.fc-event.bgc9{ background-color: #e6beff	}

/* Buttons */
.calendar-button{
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.calendar-button.add{
  bottom: 30px;
  right: 15px;
}

