#calendar {
    font-size: 14px;
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
}

#calendar .fc-head .fc-widget-header th {
    font-family: 'Roboto', sans-serif;
    background:#9675ce;
	color:#FFF;
	font-size:14px;
    font-weight:500;
    border: none;
}

#calendar .fc-widget-content .fc-axis.fc-widget-content {
   font-family: 'Roboto', sans-serif;
   background:#9675ce;
   color:#FFF;
   font-size:14px;
   font-weight:500;
}

#calendar button.fc-button {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
	color: #9675ce;
    -webkit-appearance: none;
    border: 1px solid #9675ce;
    background-image: none;
}

#calendar button.fc-button.fc-state-hover {
    color: #333333;
    background-color: #FFE3E3;
}

#calendar button.fc-button.fc-state-down,
#calendar button.fc-button.fc-state-active {
	background-color: #9675ce;
	color: #FFFFFF;
}

.fc h2 {
    font-size: 25px;
    font-weight: 100;
 }