  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <i class="fa fa-bars navbar-brand" onclick="menu_toggle(this);"></i>
    <a class="navbar-brand" href="/">
      Node.js Dashboard
    </a>
   <div class="collapse navbar-collapse">
     <ul class="nav navbar-nav mr-auto">
       <li class="nav-item">
         <a class="nav-link" href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="/user/settings"><i class="fa fa-cog" aria-hidden="true"></i></a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#"><i class="fa fa-info" aria-hidden="true"></i></a>
       </li>
     </ul>
     <ul class="nav navbar-nav navbar-right" id="user-profile">
        <li id="user-profile-nav" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span id="profile-link"></span>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
                <li><a class="dropdown-item" href="/user/settings"><i class="fa fa-cog" aria-hidden="true"></i> Preferences</a></li>
                <li><a class="dropdown-item requests" href="/user/requests"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Request Page</a></li>                
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item signout-click" href="/signin" ><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
            </ul>
        </li>
        <li id="user-signin-nav" class="nav-item">
          <a class="nav-link" href="/signin">
            <i class="fa fa-sign-in" aria-hidden="true"></i>  
            Login/Signup
          </a>
        </li>
    </ul>
   </div>
 </nav>

 <nav id="sidebar-wrapper">
    <ul class="sidebar-nav nav">
    </ul>
  </nav>

<script type="text/javascript">
  $(document).ready(function(){
    var user = sessionStorage.user_id;
    if(sessionStorage.access_token && sessionStorage.access_token != 'undefined'){
        $('#user-profile-nav').show();
        $('#profile-link').text('Welcome, ' + user);
        $('#user-signin-nav').hide();
    }
    else{
        $('#user-signin-nav').show();
        $('#user-profile-nav').hide();
    }

    var params = {user: user};
    if(params.user) $('a.dropdown-item.requests').attr('href', "/user/requests?" + jQuery.param(params));

    $(".signout-click").click(function () {
      sessionStorage.clear();
    });
  });
</script>