/* Dashboard */
.grid-stack{
  margin-top: 60px;
}

/*Widget Items*/
.item {
  background: #8CB5E5;
}
.item-icon {
  z-index: 1;
  position: absolute;
}
.item-icon.delete-icon {
  top: 5px;
  right: 15px;
}

/*Drag and Drop*/
/*Override Gridstack CSS*/
.grid-stack .grid-stack-placeholder > .placeholder-content {
  border: 1px solid black;
  background: #C1CFE0
}

/*Dashboard Buttons*/
.dashboard-button{
  height: 60px;
  width: 60px;
  position: fixed;
  overflow: hidden;
}
.dashboard-button.edit{
  bottom: 20px;
  right: 20px;
}
.dashboard-button.add{
  bottom: 90px;
  right: 20px;
}


