
/*Main*/
* { 
  box-sizing: border-box; 
}

body { 
  background: #eee;
  font-family: sans-serif; 
}

/* Dashboard */
.grid-stack{
  margin-top: 60px;
}

/*Widget Items*/
.item {
  background: #8CB5E5;
}

/*Drag and Drop*/

/*Dashboard Buttons*/
.dashboard-button{
  height: 60px;
  width: 60px;
  position: fixed;
  overflow: hidden;
}
.dashboard-button.edit{
  bottom: 20px;
  right: 20px;
}
.dashboard-button.add{
  bottom: 90px;
  right: 20px;
}

