body {
  background-color: #F2F9FF;
}

/* Dashboard */
#page-content-wrapper{
  margin-top: 60px;
  padding: 5px;
}

.grid-stack-item-content{
  padding: 1px;
}

/*Widget Items*/
.grid-stack>.grid-stack-item>.grid-stack-item-content{
  left: 1px;
  right: 1px;
}

.item {
  background: #8CB5E5;
}
.item-icon {
  z-index: 1;
  position: absolute;
}
.item-icon.delete-icon {
  top: 5px;
  right: 15px;
}
.item-icon.edit-icon {
  top: 5px;
  right: 40px;
}
.item-icon.move-icon {
  top: 5px;
  left: 15px;
  color: #525252
}
.grid-stack-item .item-icon.move-icon{
  visibility:hidden;
}
.grid-stack-item:hover .item-icon.move-icon{
  visibility:visible;
}
object.embedded-webpage {
  width:100%;
  height:100%;
}

/*Drag and Drop*/
/*Override Gridstack CSS*/
.grid-stack .grid-stack-placeholder > .placeholder-content {
  border: 1px solid black;
  background: #C1CFE0
}

.grid-stack-item-content.disabled {
  pointer-events: none;
  opacity: 0.4;
}

/*Dashboard Buttons*/
.dashboard-button{
  height: 60px;
  width: 60px;
  position: fixed;
  overflow: hidden;
  z-index: 100;
}
.dashboard-button.edit{
  bottom: 20px;
  right: 20px;
}
.dashboard-button.add{
  bottom: 90px;
  right: 20px;
}
.dashboard-button.cancel{
  bottom: 20px;
  right: 90px;
}

/* Modal */
.modal-body {
  padding: 0;
  background-color: #FDEEE8;
}

#edit_modal #select-itemtypes {
  border:0px;
  outline:0px;
  height: 40px;
  width: 100%;
  height: 100%;
  background-color: #1A5276;
  color: #fff;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

#edit_modal label.left-align {
 text-align: left;
 line-height: 40px;
 padding-left: 10px;
 margin: 0px;
}

#edit_modal p.left-align {
 text-align: left;
 padding-left: 10px;
}

#edit_modal .modal-body div.buttons {
 margin: 0px
}