@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,700,500);

/* Used for all forms */

body { 
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight:100;
}

#wrapper {
  padding-left: 0;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.disabled{
  color: #ccc;
}

select.full-div {
  height: 100%;
  width: 100%;
}

label.center {
  text-align: center;
  line-height: 40px;
  padding: 0px;
  margin: 0px;
}

.dropdown-menu>li>a{
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}