/* Used for all forms */
* { 
    box-sizing: border-box; 
  }
  
  body { 
    background: #eee;
    font-family: sans-serif; 
  }
  
  #wrapper {
    padding-left: 0;
  }
  
  #page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  