/* Wrapper */
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    top: 50px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: #113159;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}  

/* Navigation */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    background-color: transparent;
    text-decoration: none;
    color: #ffffff;
}

.sidebar-nav li a {
    display: block;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}

/* Toggling */
#wrapper.toggled {
    left: 200px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-left: 200px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}
  