/* Wrapper */
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    top: 55px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: #113159;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}  

/* Navigation */


/* Toggling */
#sidebar-wrapper.toggled{
    width: 200px;
}

#sidebar-wrapper.toggled + #page-content-wrapper{
    position: absolute;
    margin-left: 200px;
}