<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Viewpoing Dashboard</title>
    
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">   

    <!-- JQueryUI CSS -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css" >

</head>

<body>

    <div class="packery">
      <div class="item item-child-1">
      </div>
    </div>   

    <!-- Add to dashboard button -->
    <aside>
      <div class="dashboard-button edit">
          <img id="dashboard-edit-img" src="/img/edit-circle-icon.png" class="img-fluid" onclick="edit_dashboard_click();">
      </div>
      <div class="dashboard-button add">
          <img id="dashboard-add-img" src="/img/plus-circle-icon.png" class="img-fluid" onclick="add_dashboard_click();">
      </div>
  </div>
    </aside>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    
    <!-- Other Dependencies -->
    <script src="https://unpkg.com/packery@2/dist/packery.pkgd.js"></script>

    <!-- Script -->
    <script type="text/javascript" src="/js/dashboard.js"></script>

</body>

</html>
