<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">   
</head>

<body>
  <div id="base-container" class="container">
    <div class="table-responsive">          
    <table class="table table-sm table-bordered">
      <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Age</th>
          <th>City</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Anna</td>
          <td>Pitt</td>
          <td>35</td>
          <td>New York</td>
          <td>USA</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Joe</td>
          <td>Macklin</td>
          <td>13</td>
          <td>New Jersey</td>
          <td>USA</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</body>
</html>